
$font-family: 'Helvetica Neue', sans-serif;
$background-color: #1f1e38;
$accent-color: rgb(185, 240, 39);
body {
  font-family: $font-family;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  background-color: $background-color;
}

html, body{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

button {
  font-family: $font-family;
  font-size: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  outline: 0;
  transform: scale(1);
  transition: 0.2s all;
  color:#f1fcd4;
  font-weight: bold;
  &:hover {
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 1);
    color: #fff;
  }
  &.small {
    padding: 10px 15px;
  }
  &.large {
    padding: 15px 25px;
  }
  &.accent {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
    color: #a7d923;
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

#content{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0px;
  //padding-top: 65px;
  box-sizing: border-box;
}

.announcement{
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 2em;
}



pre{
  background-color: rgba(0,0,0,0.2);
  padding: 1em;
}

.align-right{
  text-align: right;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.white-section{
  background-color: #fff;
  padding: 2em 0;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  .column {
    flex: 1 1 0;
    padding-left: 15px;
    padding-right: 15px;
    &.shrink {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: $background-color;
  button{
    color: $background-color;
  }
  img.logo {
    width: 150px;
    padding-top: 6px;
  }
  nav {
    
    ul {
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
    }
    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }
  }
}

footer{
  height: 160px;
  box-sizing: border-box;
  padding: 2em 0;
  background-color: rgba(0,0,0,0.3);
  img.logo{
    width: 100px;
  }
  ul{
    margin: 0;
    list-style: none;
    li{
      margin: 5px 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  .copyright{
    color: rgba(255,255,255,0.3);
  }
}

.padding-top{
  padding-top: 70px;
}

.splash {
  padding: 8em 0 6em 0;
  background-color: rgba(0,0,0,0.3);
  text-align: center;

  img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid $background-color;
    max-width: 700px;
  }

  h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0;
    color: #fff;
  }
  
  .splash-buttons {
    margin: 3em 0;
    button {
      width: 160px;
      font-size: 17px;
      height: 50px;
      margin: 0 1em;
      font-weight: bold;
      border-color: $accent-color;
      color: $accent-color;
      &.accent{
        background-color: $accent-color;
        color: $background-color;
      }
    }
  }
}

.section-header{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  span{
    color: rgb(185, 240, 39);
  }
}


.docs-menu{
  max-width: 300px;
}


.learn-more-1{
  padding: 4em 0;

  .pricing-box{
    background-color: rgba(0,0,0,0.3);
    padding:1em;
    border-radius: 5px;
    margin-top: 5em;
    transform: scale(0.9);
    &.zappem{
      font-weight: bold;
      transform: scale(1);
      background-color: rgba(0,0,0,0.5);
      .feature-list li small{
        font-weight: normal;
      }
      .logo img{
        width: 40%;
      }
    }
    .logo{
      text-align: center;
      img{
        width: 30%;
      }
    }
    .feature-list{
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1.5em;
      .accent{
        color: $accent-color;
      }
      img{
        width: 15px;
      }
      li{
        margin: 1em 0;
        border-top: 1px solid rgba(255,255,255,0.1);
        margin: .5em 0;
        padding: 1em 0 0.5em 0;
        height: 40px;
        small{
          display: block;
          color: rgba(255,255,255,0.2);
        }
      }
    }
  }
} 